* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body {
    background: #f7f7f7;
    overflow-x: hidden;
}

body .disable-body {
    height: 100vh;
    position: fixed;
    overflow-y: hidden;
}

/* header */

.header {
    width: 100vw;
    height: 74px;
    display: flex;
    background-color: #fbf3e4;
    box-shadow: 0px 3px 59px #B9164614;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.head-name {
    margin: auto 10%;
    width: 40%;
    font-weight: bold;
    font-size: 30px;
    color: #105652;
    cursor: context-menu;
    transition: all 0.3s ease-out;

    text-shadow: 0 0 80px rgba(255,255,255,.5);
    background: url("./animated-text-fill.png") repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

.head-name:hover {
    transform: scale(1.05);
}

.menu {
    display: flex;
    margin: auto 10%;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    color: #424242;
    transition: all 0.3s ease-out;
}

.menu a:hover {
    color: #fca738;
    transform: scale(1.1);
}

/* mobile view menu toggle button  */

.side-menu-btn {
    position: fixed;
    top: 12px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 20;
    color: #105652;
    display: none;
}

.side-menu-btn:hover {
    color: #115350;
    background-color: #f0e4ce;
}

/* mobile view menu */

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 25;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: -32px -10px 99px #00000029;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu .border-bottom {
    padding: 8px 8px 20px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #135451;
    padding-top: 25px;
    display: block;
    transition: 0.5s;
    border-bottom: 1px solid #EDEDED;
    border-radius: 5px;
}

.side-menu .border-bottom:hover {
    color: #fca738;
    background-color: #ebebeb;
}

.side-menu .close-btn {
    text-decoration: none;
    position: absolute;
    top: 10px;
    color: #125451;
    right: 20px;
    font-size: 48px;
    padding: 0px 15px;
    border-radius: 30%;
}

.side-menu .close-btn:hover {
    color: #105652;
    background-color: #eeeeee;
}

/* animation banner */

.banner-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cube {
    position: absolute;
    top: 80%;
    left: 45%;
    width: 10px;
    height: 10px;
    border: 1px solid #005c57;
    border-radius: 1px;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in  -1s infinite forwards;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.cube:nth-child(2n) {
    border-color: #365c5a;
}

.cube:nth-child(2) {
    animation-delay: 0.5s;
    left: 25%;
    top: 40%;
}
.cube:nth-child(3) {
    animation-delay: 2s;
    left: 75%;
    top: 50%;
}

.cube:nth-child(4) {
    animation-delay: 3.5s;
    left: 90%;
    top: 10%;
}

.cube:nth-child(5) {
    animation-delay: 5s;
    left: 10%;
    top: 85%;
}

.cube:nth-child(6) {
    animation-delay: 6.5s;
    left: 55%;
    top: 10%;
}

.cube:nth-child(7) {
    animation-delay: 8s;
    left: 5%;
    top: 10%;
}

.cube:nth-child(8) {
    animation-delay: 9.5s;
    left: 90%;
    top: 85%;
}

/* banner */

.banner {
    position: relative;
    width: 100%;
    background-color: #105652;
}

.inner-banner {
    background: url("wave.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.banner-text {
    width: 65%;
    padding: 50px 0px 0px 80px;
    z-index: 2;
}

.banner-name {
    color: #fca738;
    font-size: 40px;
    margin: -10px 0px 10px 75px;
    cursor: context-menu;
}

.banner-developer {
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin: 10px 0px 30px 75px;
    animation: glow 2500ms linear infinite 2000ms;
    cursor: context-menu;
}

@keyframes glow {
    40% {
        text-shadow: 0 0 8px #fff;
    }
}

.banner-description {
    color: #FBF3E4;
    font-size: 17px;
    margin: 0px 0px 20px 75px;
    padding: 10px 0px;
    cursor: context-menu;

    background-position: -200px;
    background: linear-gradient(to right, darkgray 0, white 10%, darkgray 20%);
    animation: shine 4s infinite linear forwards;
    animation-fill-mode: forwards;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-size-adjust: none;
    white-space: nowrap;
}

@keyframes shine {
    0% {
        background-position: -100px;
    }
    60% {
        background-position: 280px;
    }
    100% {
        background-position: 280px;
    }
}

.hireme-btn a, .getresume-btn a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.hireme-btn {
    width: 130px;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    background-color: #09BEAD;
    box-shadow: 0px 16px 29px #0BBEAD69;
    float: left;
    margin-right: 30px;
    margin-left: 75px;
    opacity: 0.99;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.getresume-btn {
    width: 130px;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    background-color: #FCA738;
    box-shadow: 0px 16px 29px #F57F1769;
    float: left;
    margin-right: 30px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.hireme-btn:hover, .getresume-btn:hover {
    transform: scale(1.1);
}

.banner-img {
    width: 35%;
    margin: 0 auto;
    z-index: 2;
}

/* About me */

.about-box {
    width: 80%;
    margin: 35px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 59px #10565221;
}

.about-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-text {
    margin-left: 20px;
    text-align: justify;
    width: 45%;
    padding: 5px 36px 20px 0px;
    font-size: 18px;
    color: #105652;
    line-height: 1.6;
    float: left;
}

.about-me, .portfolio-heading, .resume-heading, .contact-heading, .people-heading {
    color: #105652;
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 7px solid #FCA738;
    margin: 10px 0px 30px 0px;
    cursor: context-menu;
}

.about-me:hover, .portfolio-heading:hover, .resume-heading:hover, .contact-heading:hover, .people-heading:hover {
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    background: url("./animated-text-fill.png") repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.skills-box {
    background-color: white;
    box-shadow: 0px 0px 30px #00000029;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0px;
}

.skills-heading {
    color: #105652;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.logo-list {
    list-style: none;
}

.logo-list li {
    display: inline-block;
    margin: 10px;
}

.logo-list li img {
    width: 50px;
    height: 50px;
}

/* My Portfolio */

.portfolio-box, .resume-box, .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.portfolio-heading {
    margin: 20px auto 50px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-list a {
    width: 40%;
    margin: 5px;
    position: relative;
}

.portfolio-list a:hover > img {
    transform: scale(0.95);
    opacity: 0.4;
    box-shadow: 1px 1px 30px 2px rgb(65, 65, 65);
}

.portfolio-list a:hover > .view-project {
    transform: scale(1);
}

.portfolio-list a img {
    width: 100%;
    /* height: 40%; */
    background-color: #d89031;
    box-shadow: 1px 1px 30px 5px rgb(192, 191, 191);
    transition: all 0.5s ease-out;
    cursor: pointer;
    border-radius: 15px;
}

.view-project {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 42%;
    background-color: #09BEAD;
    border-radius: 50%;
    text-align: center;
    transform: scale(0);
    transition: all 0.3s ease-out;
    box-shadow: 1px 1px 3px 2px #09BEAD;
}

.view-project p{
    letter-spacing: 5px;
    line-height: 1.5;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 35%;
}

/* Resume */

.resume-innerbox {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vertical-line {
    margin-top: 60px;
    width: 2px;
    height: 230px;
    background-color: #0ABEAD;
}

.resume-left {
    width: 55%;
    position: relative;
}

.resume-right {
    margin-left: 30px;
    width: 30%;
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;
    /* height: 500px; */
    /* background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 50px 5px lightgray; */
}

#myCanvas, #tags {
    /* transition: transform 200ms linear; */
    animation: rotate 12s linear infinite;
    /* transform-style: preserve-3d; */
}

@keyframes rotate {
    0% {background-position: 0 0;}
    100% {background-position: 630px 0;}
}

.education {
    font-size: 24px;
    color: #105652;
    font-weight: bold;
    margin-bottom: 10px;
}

.education-details {
    color: #0e726a;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px 10px 40px;
    display: inline-block;
}

.marks {
    font-size: 16px;
    color: #105652;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
}

.resume-left span {
    color: white;
    font-size: 14px;
    float: right;
    background-color: #fca738;
    box-shadow: 0px 3px 7px #F57F173D;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 20px 0px 10px;
}

.circle {
    position: absolute;
    font-size: 64px;
    color: #09BCAB;
    left: -12px;
}

.c-1 {
    top: 32px;
}

.c-2 {
    top: 125px;
}

.c-3 {
    top: 215px;
}

/* Contact Me  */

/* .contact-box {
    margin: 30px 0px 2px 0px;
} */

.contact-heading {
    margin: 20px auto 50px;
}

.contact-innerbox {
    width: 85%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    color: #333333;
}

.contact-left {
    width: 50%;
    padding: 40px;
}

.contact-right {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    width: 50%;
    padding: 40px;
    background-color: #fbf3e4;
    border-radius: 0px 10px 10px 0px;
}

.lets-connect, .send-msg {
    font-size: 24px;
    color: #105652;
    font-weight: bold;
    margin: 20px;
}

.contact-para {
    text-align: justify;
    margin:0px 20px;
}

.contact-details {
    color: #858585;
    font-size: 18px;
    margin: 20px;
}

.contact-details span {
    display: inline-block;
    margin: 10px;
}

.send-msg {
    margin-left: 40px;
}

.contact-right form {
    margin-left: 40px;
}

.contact-right form input {
    width: 90%;
    height: 40px;
    margin:5px 0px 20px;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
}

.contact-right form textarea {
    width: 90%;
    margin:5px 0px 20px;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
}

.submit-btn {
    width: 30%;
    background-color: #FCA738;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #ff9100;
    box-shadow: 1px 1px 5px 2px #ffb555;
}

/* Footer */

.footer {
    color: #333333;
    background-color: #FBF3E4;
    font-size: 18px;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
}

/* What people say about me */

.people-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.people-heading {
    margin-top: 20px;
}

.people-innerbox {
    width: 80%;
    margin: 35px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 59px #10565221;
}

.flex-item {
    width: 30%;
    margin: 50px auto;
    text-align: center;
}

.flex-item img {
    border-radius: 50%;
    margin: 10px auto;
}

.flex-item p {
    font-weight: bold;
    font-size: 18px;
}

.flex-item span {
    display: inline-block;
    color: darkgray;
    margin: 5px;
}

.flex-item div {
    width: 55%;
    line-height: 1.5;
    margin: 20px auto;
    color: gray;
}

.people-footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #FBF3E4;
}

.people-footer a {
    color: #FCA738;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.people-footer a:hover {
    color: #ff9100;
    font-size: 19px;
}

/* RESPONSIVE */

@media only screen and (max-width:1024px) {
    .about-img {
        margin-top: 100px;
        max-height: 500px;
    }

    .submit-btn {
        font-size: 14px;
    }

    .education-details {
        font-size: 16px;
    }

    .marks {
        font-size: 13px;
    }

    .resume-innerbox {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* position: relative; */
    }

    .vertical-line {
        display: none;
    }

    .resume-left, .resume-right {
        width: 90%;
        margin-top: 40px;
    }

    .resume-left span {
        font-size: 12px;
    }

    .banner-img {
        margin-left: -40px;
    }

    .view-project {
        width: 80px;
        height: 80px;
        top: 28%;
        left: 42%;
    }

    .view-project p {
        font-size: 9px;
    }
}

@media only screen and (max-width:920px) {
    .menu a {
        font-size: 14px;
    }

    .banner-text {
        padding-left: 40px;
    }

    .banner-name, .banner-developer {
        font-size: 30px;
    }

    .banner-img {
        margin-left: -120px;
    }

    .contact-innerbox {
        width: 95%;;
    }

    .resume-right {
        max-height: 350px;
    }

    .about-box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-text {
        width: 90%;
        margin-left: 30px;
        position: relative;
    }

    .about-img {
        margin-top: -10px;
        margin-bottom: 40px;
    }

    .skills-box {
        position: absolute;
        top: 580px;
        margin-left: 20px;
    }

    .resume-innerbox {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* position: relative; */
    }

    .vertical-line {
        display: none;
    }

    .resume-left, .resume-right {
        width: 90%;
        margin-top: 40px;
    }

    .contact-left {
        width: 100%;
    }

    .contact-right {
        width: 100%;
    }

    .view-project {
        width: 80px;
        height: 80px;
        top: 26%;
        left: 39%;
    }
}

@media screen and (max-width:880px) {
    .skills-box {
        top: 620px;
    }

    .view-project {
        width: 80px;
        height: 80px;
        top: 26%;
        left: 39%;
    }

    .view-project p {
        font-size: 9px;
    }
}

@media screen and (max-width:800px) {
    .head-name {
        font-size: 21px;
    }

    .menu {
        width: 80%;
    }

    .banner-text {
        padding-left: 0px;
    }

    .about-img {
        margin-bottom: 120px;
    }

    .skills-box {
        position: absolute;
        top: 620px;
        right: 40px;
    }

    .portfolio-list {
        margin-left: 20px;
    }

    .portfolio-list a {
        width: 80%;
    }

    .people-box {
        margin: 0px;
    }

    .people-innerbox {
        width: 100%;
        border-radius: 0px;
        flex-direction: column;
    }

    .item-mobile {
        display: none;
    }

    .flex-item {
        width: 40%;
    }

    .flex-item div {
        width: 100%;
        margin: 20px auto 0px;
    }

    .view-project {
        width: 100px;
        height: 100px;
        top: 31%;
        left: 43%;
    }

    .view-project p {
        font-size: 11px;
    }
}

@media screen and (max-width: 716px) {

    .inner-banner {
        display: flex;
        flex-direction: column;
    }

    .banner-text {
        width: 80%;
        margin: 40px auto;
    }

    .banner-img {
        width: 60%;
        margin: 0px auto;
    }

    .skills-box {
        top: 645px;
    }

    .view-project {
        top: 28%;
        left: 41%;
    }

    .view-project p {
        font-size: 11px;
    }
}

@media screen and (max-width: 668px) {

    .head-name {
        width: 50%;
    }

    .menu {
        display: none;
    }

    .about-box, .contact-innerbox {
        width: 100%;
        border-radius: 0px;
    }

    .resume-right {
        width: 100%;
        border-radius: 0px;
        margin-left: 0px;
    }

    .side-menu-btn {
        display: block;
    }

    .skills-box {
        top: 625px;
    }

    .view-project {
        top: 26%;
        left: 41%;
    }
}

@media screen and (max-width: 576px) {

    .banner-name, .banner-developer, .banner-description, .hireme-btn, .getresume-btn {
        margin-left: 0px;
    }

    .banner-img {
        width: 80%;
    }

    .skills-box {
        top: 745px;
        margin-left: 0px;
    }

    .portfolio-list {
        margin-left: 0px;
    }

    .resume-left span {
        clear: left;
        margin: 0px 0px 30px;
    }

    .c-2 {
        top: 153px;
    }

    .c-3 {
        top: 253px;
    }

    .contact-left, .contact-right {
        padding: 20px;
    }

    .send-msg {
        margin-left: 20px;
    }

    .contact-right form {
        margin-left: 20px;
    }

    .people-heading{
        font-size: 28px;
    }

    .view-project {
        width: 80px;
        height: 80px;
        top: 29%;
        left: 42%;
    }

    .view-project p {
        font-size: 9px;
    }
}

@media screen and (max-width: 460px){
    .view-project {
        width: 70px;
        height: 70px;
        top: 27%;
        left: 40%;
    }

    .view-project p {
        padding-top: 36%;
        font-size: 7px;
    }
}

@media screen and (max-width: 395px) {

    .banner-developer {
        font-size: 26px;
    }

    .hireme-btn, .getresume-btn {
        margin-right: 20px;
    }

    .about-img {
        margin-bottom: 200px;
    }

    .skills-box {
        top: 800px;
    }

    .people-heading {
        font-size: 24px;
    }

    .view-project {
        top: 25%;
        left: 39%;
    }

    #myCanvas {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 361px) {

    .hireme-btn, .getresume-btn {
        margin-right: 10px;
    }

    .banner-img {
        margin-left: 15px;
    }

    .flex-item p {
        font-size: 16px;
    }

    .flex-item span {
        font-size: 14px;
    }

    .view-project {
        top: 21%;
        left: 37%;
    }
}

